body {
  background-color: #2d2d2d;
  color: antiquewhite;
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
  min-height: 100%;
}

::selection {
  background: #95e4;
  color: #fff;
}

.jobtitle {
  color: #fff;
  background-color: #a456;
  padding: 3px 6px 3px 6px;
  margin: -3px -6px -3px -6px;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 15px;
}

.time {
  font-size: 0.8em;
  color: #feda;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: antiquewhite;
}

.container {
  padding: 25px 50px 50px 50px;
}

.hr {
  border-bottom: 2px #ccc4 dashed;
  width: 100%;
}

hr {
  border-bottom: 2px #ccc4 dashed;
  border-top: 0;
}

header {
  display: flex;
  height: auto;
  letter-spacing: 1;
}

title {
  display: flex;
  height: auto;
  padding: 15px;
  /*text-decoration: underline 2px #f34e3443;*/
}

menu {
  margin-left: auto;
  margin-top: 0;
  right: 0;
  display: flex;
  height: auto;
  padding: 15px;
}

item {
  margin-left: 15px;
}

a {
  color: orange;
  text-decoration: underline 2px #9654;
  transition: 0.5s ease;
}

a:hover {
  color: antiquewhite;
  text-decoration: underline 2px orange;
}

._active {
  color: #eca;
  text-decoration: underline 2px #eca5;
  background-color: #9654;
  padding: 3px 6px 3px 6px;
  margin: -3px -6px -3px -6px;
  border-radius: 3px;
}

._unavailable {
  color: #cccc;
  text-decoration: none;
}


._unavailable:hover {
  color: #cccc;
  text-decoration: none;
}

.txt {
  white-space: pre-line;
  padding: 0px 15px 25px 15px;
}

.titlegroup {
  line-height: 0.5;
  padding: 15px 15px 0px 15px;
}
