.body
{background-image: url('https://static.tumblr.com/gmlcyjd/xplmwf0ia/worn_dots.png');}

.container
{font-family: Space Mono, monospace; font-size: 15px; max-width: 1200px}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #444444;
}

.card:hover .overlay {
  opacity: 1;
}
.textho {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: Source Code Pro;
  font-size: 25px;
}

.middle {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textho1 {
  background-color: #181818;
  color: white;
  font-size: 25px;
  padding: 1px 12px;
  border-radius: 19px;
}

.textho2 {
  background-color: rgba(1, 1, 1, 0.3);

  width: 100%;
  color: white;
  padding: 1px 12px;
  border-radius: 5px;
}


.card:hover .middle {
  opacity: 1;
}

.on
{  background-color: #181818;
  color: white;
  opacity: 0.4;
  padding: 0px 0px;
border-radius: 15px;}



.card
{background-color: transparent; border: 0px solid #444; margin-top: 40px; border-radius: 7px; opacity: 0.9;transition: 0.3s ease;}

/*ded985*/
/*de9975*/

/*.card:hover
{background-color: #e6e282;;}*/


.btn
{border-radius: 4px; font-size: 15px; color: #ffffff ;border: 4px; transition: 0.2s ease;}
.btn:hover
{border-radius: 4px;transition: 0.2s ease;}

.btn-dark
{border-radius: 4px; background-color: #181818; font-size: 15px; border: 4px; transition: 0.2s ease;}
.btn-dark:hover
{border-radius: 4px;background-color: rgba(200,135,0,0.5);transition: 0.2s ease;}

.btn-light
{border-radius: 4px; background-color: #818181; font-size: 15px; border: 4px; transition: 0.2s ease;}
.btn-light:hover
{border-radius: 4px;background-color: rgba(200,135,0,0.5);transition: 0.2s ease;}


.card-body
{font-family: Source Code Pro Medium, monospace; font-size: 15px;}

.img-thumbnail
{border: none; padding: none; margin: none;}

.mfooter
{color: #ededed; font-size: 15px; text-align: left; opacity: 0.8;}
.lfooter
{color: #777; font-size: 15px;}

 /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
} 

.card-note
{background-color: #ded985; border: none;}

::-moz-selection { background: #f3f3f1;  color: #111;}
::selection { background: #f3f3f1; color: #111; }


/*::-moz-selection { background: #256994;  color: white;}
::selection { background: #256994; color: white; }*/
/*
::-moz-selection { background: #256994;  color: white;}
::selection { background: #256994; color: white; }



.card:hover
{background-color: #de9975; border: none;}*/


/* Card styles */

/*.card-dark
{background-color: #444444; border: none; color: #eee}

.card-dark:hover
{background-color: #9e8935;}



.card-note:hover
{background-color: #e6e282; border: none;}



.card-system
{background-color: #7e99d5; border: none;}*/




.card:hover
{background-color: rgba(230,200,100,0.8); border: none; opacity: 1.0;transition: 0.3s ease;}

.img-thumbnail
{border: none; padding: none; margin: none;}

.card-dark
{background-color: #181818; border: none; color: #eee}

.card-dark:hover
{background-color: #404000;}

.card-img
{background-color: #000; border: none; color: #eee}

.card-img:hover
{background-color: #642000;}

.card-lite
{background-color: rgba(240,240,240,0.5); border: none; opacity: 0.9;transition: 0.3s ease;}

.card-lite:hover
{background-color: rgba(240,240,240,0.5); border: none; opacity: 1.0;transition: 0.3s ease;}

hr.style5 {
	background-color: transparent;
	border-top: 3px dashed rgba(100,100,100,0.75);
}
