---
---

/*
  Site variables
*/

$base-font-family: "Source Code Pro", monospace;

$body-font-family: "Source Code Pro", monospace;

$code-font-family: "Source Code Pro", monospace;

$brand-color: #342100;

$container-width: 1250px;

$tablet-width: 1000px;

$phone-width: 480px;

$header-thickness: 52px;

@import "_sass/-sections-dir";
