<!doctype html>
<html>

{% include head.html %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>

<div class="container">
  <div class="container">
  <div class="row>
   <div class="col-lg">
                      <div class="card">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  <span styles="justify:left">
  --------------------------------
   </span>
</div>
  </div>
  </div>
                             </div></div>

</body>
</html>
